* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.05em;
}

body {
  padding: 25px;
  font-family: 'Varela Round', sans-serif;
  direction: rtl;
  background: #f3f3f3;
  line-height: 1.8;
}

.container {
  max-width: 900px;
  margin: 25px auto;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
}

.main-container {
  position: relative;
  min-height: 80vh;
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 25px #ccc;
}

section {
  padding: 25px;
  margin: 0 25px 25px 25px;
  background: rgb(253, 243, 234) !important;
}

.bg-lightblue {
  background: rgb(234, 244, 253) !important;
}

.content {
  margin: auto;
  padding: 10px;
  /* padding: 25px; */
}

.header {
  font-size: 1.2em;
}

.primary {
  background-color: rgb(243, 208, 168);
  border-color: rgb(221, 169, 111);
}

.warning {
  color: rgb(233, 68, 39);
}

.centered-text {
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
}

.ltr {
  direction: ltr;
}

.text-lg {
  font-size: 1.5em;
}

.text-huge {
  font-size: 2em;
}

.font-important {
  color: rgb(255, 102, 0);
  font-weight: bolder;
}

.text-sml {
  font-size: 0.8em;
}

.text-tiny {
  font-size: 0.65em;
}

h1 {
  font-size: 1.5em;
}
.btn {
  background-color: rgb(243, 208, 168);
  border: 1px solid rgb(221, 169, 111);
  color: #000;
  text-align: center;
  padding: 15px 32px;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px;
  transition-duration: 0.4s;
  outline: none;
}

.btn-lg {
  font-size: 1.4em;
}

.btn:hover {
  background-color: rgb(253, 226, 194);
  cursor: pointer;
}

.btn.selected {
  background-color: rgb(253, 234, 209);
  border-color: #000;
}

.btn:disabled {
  background-color: #f3f3f3;
  color: #777;
  border-color: #aaa;
  cursor: auto;
}

.btn-blue {
  background-color: rgb(168, 203, 243);
  border: 1px solid rgb(111, 155, 221);
}

.hidden {
  opacity: 0;
}

.fade {
  transition: opacity 0.5s;
}

.btn-blue:hover {
  background-color: rgb(194, 222, 253);
}

form fieldset {
  border: none;
}

form fieldset label {
  margin-left: 10px;
}

.form-group {
  margin-bottom: 10px;
}

#players-list,
#question-pack-list {
  list-style-type: none;
}

#question-pack-list {
  display: flex;
  flex-flow: row wrap;
}

#question-pack-list li {
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#question-pack-list li:hover {
  cursor: pointer;
  box-shadow: 0 0 8px #ddd;
}

#question-pack-list li:hover .remove-button {
  color: red;
  cursor: pointer;
}

input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  outline: none;
  font-family: inherit;
}

input[type='submit']:not(.btn-lg) {
  float: left;
}

.row label {
  display: inline-block;
  padding: 12px 0;
}

.col-10 {
  float: right;
  width: 10%;
  margin-top: 6px;
}

.col-25 {
  float: right;
  width: 25%;
  margin-top: 6px;
}

.col-50 {
  float: right;
  width: 50%;
  margin-top: 6px;
}

.col-65 {
  float: right;
  width: 65%;
  margin-top: 6px;
}

.col-75 {
  float: right;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.row.submit {
  margin-top: 1em;
}

.row .back {
  margin-right: 0;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.add-button {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 12px;
}

.remove-button {
  vertical-align: middle;
  margin-right: 5px;
}

/* Ingame */

.choice-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.choice-item {
  width: 34%;
  cursor: pointer;
}

.choice-item label {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 1.2rem 2rem 1.2rem 0;
}

.choice-item input[type='radio'] {
  width: 0;
  height: 0;
}

.radio {
  position: absolute;
  right: 0;
  height: 1.1rem;
  width: 1.1rem;
  margin: 0.8rem 0;
  background-color: #ccc;
  border-radius: 50%;
}

.choice-item:hover input ~ .radio {
  background-color: #aaa;
}

.choice-item input:checked ~ .radio {
  background-color: rgb(123, 166, 216);
}

.radio:after {
  content: '';
  position: absolute;
  display: none;
}

.choice-item input:checked ~ .radio:after {
  display: block;
}

.choice-item .radio:after {
  top: 5px;
  left: 4.5px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: white;
}

.answer-input {
  height: 10vh;
  padding: 10px;
}

textarea {
  resize: vertical;
}

.back-forward-btn {
  display: none;
  color: rgb(80, 142, 234);
}

.back-forward-btn:hover {
  cursor: pointer;
  color: rgb(48, 105, 190);
}

#continue-next-answer-btn,
#continue-get-answers-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 1em;
  margin-left: 1em;
}

/* Chart Area */

/* options container */
.o-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 100%, 1fr, 100%, 1fr;
  /* grid-template-columns: repeat(); */
}

/* chart container */
.c-container {
  width: 100%;
  margin: auto;
}

/* Vote Buttons */
.vote-btn {
  font-size: 0.8em;
  border-color: #000;
}

.vote-btn:hover {
  filter: brightness(115%);
}

/* Leaderboard */
.lb-row {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #afafaf;
}

.lb-name {
  position: relative;
  display: inline-block;
  width: 75%;
  line-height: 45px;
}

.lb-score {
  position: relative;
  display: inline-block;
  width: 25%;
}

/* Mobile */

@media only screen and (max-device-width: 700px) {
  * {
    font-size: 1em;
  }

  .choice-item {
    width: 100%;
  }

  .radio {
    margin: 0.3rem 0;
  }

  .choice-item .radio:after {
    top: 4.5px;
    left: 5px;
  }
}
