extends layout

block main-title
  #title-area
    i.fas.fa-arrow-circle-right.fa-2x.float-right.back-forward-btn#back-btn(style='display: none; !important')
    i.fas.fa-arrow-circle-left.fa-2x.float-left.back-forward-btn#next-btn
    h1.text-lg#q-number שאלה 
      span#q-num

block content

  // Question Area
  section.container.bg-lightblue#question-area
    .content.centered-text
      h2#question-question
    .content
      form#question-form
        .choice-container#question-multiple-choice-area(style='display: none; !important')
        #question-short-answer-area(style='display: none; !important')
          .row
            input.answer-input#question-short-answer(type='text', name='answer', autocomplete="off")
          .row.submit
            input.btn.btn-blue#submit-answer-btn(type='submit', value='שלח')
    .content#warning(hidden)
      p.warning.centered-text
  .content#submit-questions.centered-text
    form#submit-questions-form
      input.btn.btn-lg.hidden.fade(type='submit', value='סיימתי לענות', disabled)

  // Waiting Area  
  section.container#waiting-area(style='display: none; !important;')
    .content.centered-text
      h2 עוד לא סיימו לענות:
      ul#players-list

  // Guessing Area
  #guessing-area(style='display: none; !important')
    section.container
      .content.centered-text#explanation
        p 5 השאלות הבאות נענו על ידי אחד השחקנים.
        p נסו לנחש כמה שיותר מהר מי זה.
        .row.submit
          input.btn#continue-get-answers-btn(type='submit', value='המשך לתשובות', style='display: none; !important')      
      #answer-area(style='display: none; !important')
        .content.centered-text
          h2 (#[span#answer-num]/#{NUM_ANSWERS_EACH_TIME})
          h2#answer-question
        .content
          form#answer-form
            fieldset
              .choice-container#answer-multiple-choice-area(style='display: none; !important')
              #answer-short-answer-area(style='display: none; !important')
                .row
                  input.answer-input#answer-short-answer(type='text', name='answer', autocomplete="off")
    section.container.centered-text#your-answers-indicator(style='display: none; !important')
      h2.font-important אלה התשובות שלך. אין צורך להצביע.
    #voting-area(style='display: none; !important')
      section.container
        .content.centered-text
          .c-container
            canvas#voting-chart
          .vote-options.centered-text
            .o-20.text-sml
              p הצבעה
            .o-80
              #vote-buttons.o-container
      .row.submit
        input.btn#skip-answer-btn(type='submit', value='דלג (1)')

  // Results area
  #results-area(style='display: none; !important')
    h1.centered-text#results-title תוצאות
    section.container#results-correct-player-area
      .content.centered-text
        h2 תשובה נכונה: 
          span.font-important#results-correct-player
    section.container#results-winner-area(style='display: none; !important')
      .content.centered-text
        h2 המנצחים: 
        p.font-important.text-lg#winner
    section.container
      .content.centered-text
        h2#results-sub-title ניקוד נוכחי
      .content
        #player-leaderboard

  #return-to-lobby-area.centered-text(style='display: none; !important')
    form#return-to-lobby-form(action='~/../')
      input.btn.btn-lg.hidden(type='submit', value='חזרה ללובי')