extends layout

block js
  script const name = '#{name}'
  script const code = '#{code}'

block main-title
  h1.text-lg.font-important קוד חדר: #{code}

block content
  section.container.section#players
    .content.centered-text
      h2 ממתינים כרגע: 
      ul#players-list
  section.container.section#host-area(hidden)
    .content.centered-text#options
      h2 אפשרויות:
      button.btn.centered התחל משחק